<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.yemiekai.vedio_voice">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroduceActivity"></activity>
        <activity android:name=".DemandVideoActivity" />
        <activity android:name=".LiveTVActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".NotifyActivity" />

        <service
            android:name=".services.MyNetworkService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".BasicActivity"
            android:label="@string/title_activity_basic"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            />
        <activity
            android:name=".FaceEnterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FaceMatchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AiActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VideoFaceActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>